.bg-custom {
    background-color: #b1c9d3;
}

a.nav-link {
    color: #ffffff;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background-image {
    padding-top: 9em;
    height: 600px;
    background-image: url("../images/mountain.jpeg");
    background-size: cover;
}

.bg-footer {
    background-color: #003d6c;
}

.text-start {
    font-weight: bold;
    margin-left: 20%;
    margin-right: 10%;
   
}

.display-1 {
    font-weight: 500;
    margin-left: 20%;
    color: #ffffff;
    
}

.display-6 {
    font-weight: 355;
    margin-left: 15%;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blockquote {
    margin-left: 50%;
    font-style: italic;
    margin-top: 1%;
}

.blockquote-footer {
    margin-left: 60%;
}

.rounded-circle {
    margin-left: 20%;
}

.bg-bottom {
    background-color: #d5877d;
}

#logo img {
    height: 100px;
    margin-left: 30%;
}

#logo p {
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 20%;
    margin-left: 1%;
    margin-bottom: 2%;
}

.hr {
    border-top: 12px double #ffffff;
    width: 10; 
    margin-left: 10%;
    margin-right: 10%;
}

a:link {
    text-decoration: none;
}

.carousel {
    width: 600px;
    height: 360px;
    margin-left: 25%;
    margin-top: 1%; 
    margin-bottom: 0%;
}

#simuli  {
    font-weight: bold;
    margin-left: 30%;
    margin-right: 30%;
    color: #000000;
    background-color: #ffffff;
}

#emailHelp {
    color: #ffffff;
    font-weight: normal;
}

